Repository dstlmrk/cauf-evidence: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint, style, type, translations-check

lint:
  name: lint
  entry: uv run poe lint
  language: system

style:
  name: style
  entry: uv run poe style
  pass_filenames: false
  language: system

type:
  name: type
  entry: uv run poe type
  pass_filenames: false
  language: system

translations-check:
  name: translations-check
  entry: uv run poe translations-check
  pass_filenames: false
  language: system

Fix: Allow HEAD requests on homepage for UptimeRobot monitoring
  ultihub/core/tests/__init__.py
  ultihub/core/tests/test_views.py
  ultihub/core/views.py
Due: lint, style, type, translations-check

Fix: Allow HEAD requests on tournaments view for UptimeRobot redirect chain
  ultihub/core/tests/test_views.py
  ultihub/tournaments/views.py
Due: lint, style, type, translations-check

Fix: Replace polling setInterval with event-driven approach in roster dialog
  assets/js/search.js
  ultihub/international_tournaments/templates/international_tournaments/partials/international_roster_add_form.html
  ultihub/members/templates/members/partials/member_search.html
  ultihub/tournaments/templates/tournaments/partials/roster_dialog_add_form.html
Due: translations-check

Fix: Dispatch change event in loadPreselectedMember to enable submit button
  assets/js/search.js
Due: none

Feature: Add configurable team transfers per competition
  tests/tournaments/test_forms.py
  ultihub/competitions/admin.py
  ultihub/competitions/migrations/0014_competition_allow_team_transfers.py
  ultihub/competitions/models.py
  ultihub/tournaments/forms.py
Due: lint, style, type, translations-check

Fix: Prevent duplicate roster entry across teams in same tournament when transfers allowed
  tests/tournaments/test_forms.py
  ultihub/tournaments/forms.py
Due: lint, style, type, translations-check

Feature: Expand competition name abbreviations (MČR, HMČR, JMČR, JHMČR) in invoice line descriptions
  tests/finance/test_services.py
  ultihub/finance/services.py
Due: lint, style, type, translations-check

Fix: Filter Firefox cross-origin MutationObserver noise from Sentry (ULTIHUB-1B)
  assets/js/sentry.js
Due: none

Fix: Filter browser extension runtime.sendMessage noise from Sentry (ULTIHUB-1C)
  assets/js/sentry.js
Due: none

Fix: Filter Safari extension askUserForPermission noise from Sentry (ULTIHUB-1A)
  assets/js/sentry.js
Due: none

Fix: Filter browser-extension Sentry noise by stack-frame origin via denyUrls (ULTIHUB-1A)
  assets/js/sentry.js
Due: none

Fix: Prevent cross-tenant stored XSS in club notifications via format_html escaping
  ultihub/clubs/templates/clubs/partials/notifications_dialog.html
  ultihub/finance/tasks.py
  ultihub/members/helpers.py
  ultihub/tournaments/views.py
Due: lint, style, type, translations-check

Fix: Stop sending member PII to Sentry while keeping signed-in agent email for support
  ultihub/core/middleware.py
  ultihub/ultihub/settings.py
Due: lint, style, type, translations-check

Fix: Prevent IDOR in season fees member detail by scoping member to current club
  ultihub/finance/views.py
Due: lint, style, type, translations-check

Fix: Prevent IDOR in coach licence list by scoping member lookup to current club
  ultihub/members/views.py
Due: lint, style, type, translations-check

Fix: Enable django-debug-toolbar only in dev environment, never in prod or test
  ultihub/ultihub/settings.py
  ultihub/ultihub/urls.py
Due: lint, style, type, translations-check

Fix: Add HSTS and content-type nosniff security headers in production
  ultihub/ultihub/settings.py
Due: lint, style, type, translations-check

Fix: Expire email confirmation token after 30 days to protect exposed member PII
  tests/members/test_confirm_email.py
  ultihub/members/migrations/0012_member_email_confirmation_token_created_at.py
  ultihub/members/models.py
  ultihub/members/views.py
Due: lint, style, type, translations-check

Fix: Commit season fee invoices per club and catch network errors to prevent duplicate Fakturoid invoices
  ultihub/finance/services.py
  ultihub/finance/tasks.py
Due: lint, style, type, translations-check

Fix: Add timeouts to Fakturoid HTTP calls and deduplicate invoices via custom_id to prevent duplicates on resend
  ultihub/finance/clients/fakturoid.py
  ultihub/finance/services.py
Due: lint, style, type, translations-check

Fix: Isolate per-invoice processing in Fakturoid check task and report errors to Sentry to prevent run blocking
  ultihub/finance/tasks.py
Due: lint, style, type, translations-check

Fix: Isolate each invoice in resend_invoices_to_fakturoid and report failures to Sentry so one DRAFT cannot block the run
  ultihub/finance/tasks.py
Due: lint, style, type, translations-check

Fix: Enforce registration deadline server-side when applying a team to a competition
  tests/competitions/test_views.py
  ultihub/competitions/views.py
Due: lint, style, type, translations-check

Path conditions:
  lint: any of: \.py$
  style: any of: \.py$
  type: any of: \.py$
  translations-check: any of: \.(po|py|html)$
