Repository dstlmrk/cauf-evidence: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint, style, type, translations-check

lint:
  name: lint
  entry: uv run poe lint
  language: system

style:
  name: style
  entry: uv run poe style
  pass_filenames: false
  language: system

type:
  name: type
  entry: uv run poe type
  pass_filenames: false
  language: system

translations-check:
  name: translations-check
  entry: uv run poe translations-check
  pass_filenames: false
  language: system

Fix: Return 404 instead of 500 for non-existent tournaments in detail views
  ultihub/tournaments/views.py
Due: lint, style, type, translations-check

Feature: Add tests for core utilities, club/competition services, signals, and views
  tests/clubs/test_services.py
  tests/clubs/test_views.py
  tests/competitions/test_services.py
  tests/competitions/test_views.py
  tests/conftest.py
  tests/core/__init__.py
  tests/core/test_models.py
  tests/core/test_tasks.py
  tests/core/test_validators.py
  tests/tournaments/test_views.py
  tests/users/test_signals.py
Due: lint, style, type, translations-check

Feature: Add diacritics-insensitive member search using PostgreSQL unaccent extension
  tests/members/test_services.py
  ultihub/core/migrations/0003_unaccent_extension.py
  ultihub/members/services.py
  ultihub/ultihub/settings.py
Due: lint, style, type, translations-check

Feature: Split roster duplicate check into same-team and competition-level validations
  tests/tournaments/test_forms.py
  ultihub/tournaments/forms.py
Due: lint, style, type, translations-check

Feature: Add retry logic for email sending to handle transient SMTP failures
  ultihub/core/tasks.py
  ultihub/ultihub/settings.py
Due: lint, style, type, translations-check

Feature: Add MX record validation for email addresses to reject non-existent domains
  pyproject.toml
  tests/core/test_validators.py
  ultihub/core/fields.py
  ultihub/core/validators.py
  uv.lock
Due: lint, style, type, translations-check

Feature: Clarify OPEN/CLOSED badges to distinguish from OPEN category
  ultihub/competitions/templates/competitions/competitions.html
  ultihub/tournaments/templates/tournaments/tournaments.html
Due: translations-check

Feature: Apply OPEN/CLOSED badge clarification to tournament and competition detail views
  ultihub/competitions/templates/competitions/partials/competition_detail.html
  ultihub/tournaments/templates/tournaments/tournament_detail.html
Due: translations-check

Feature: Integrate django-auditlog for tracking all model changes with admin history views
  README.md
  pyproject.toml
  tests/test_auditlog.py
  ultihub/clubs/admin.py
  ultihub/competitions/admin.py
  ultihub/core/apps.py
  ultihub/finance/admin.py
  ultihub/international_tournaments/admin.py
  ultihub/members/admin.py
  ultihub/tournaments/admin.py
  ultihub/ultihub/settings.py
  ultihub/users/admin.py
  uv.lock
Due: lint, style, type, translations-check

Feature: Add clickable audit log history link to all admin list views
  ultihub/clubs/admin.py
  ultihub/competitions/admin.py
  ultihub/core/admin.py
  ultihub/finance/admin.py
  ultihub/international_tournaments/admin.py
  ultihub/members/admin.py
  ultihub/tournaments/admin.py
  ultihub/users/admin.py
Due: lint, style, type, translations-check

Feature: Add Sentry JavaScript SDK for frontend error monitoring via meta tags
  assets/js/main.js
  assets/js/sentry.js
  package-lock.json
  package.json
  ultihub/ultihub/settings.py
  webpack.config.js
Due: lint, style, type, translations-check

Fix: Update Python and npm dependencies to resolve Dependabot security alerts
  package-lock.json
  package.json
  pyproject.toml
  uv.lock
Due: none

Fix: Read Sentry DSN and environment from runtime meta tags instead of build-time webpack DefinePlugin
  assets/js/sentry.js
  tests/core/test_context_processors.py
  ultihub/core/context_processors.py
  ultihub/core/templates/core/_base.html
  webpack.config.js
Due: lint, style, type, translations-check

Fix: Upgrade Docker Node.js image from 16 to 20 for crypto API compatibility
  docker/Dockerfile
Due: none

Feature: Add Sentry tunnel proxy to bypass ad blockers
  assets/js/sentry.js
  tests/core/test_sentry_tunnel.py
  ultihub/api/urls.py
  ultihub/core/views.py
Due: lint, style, type, translations-check

Fix: Remove trailing slash from Sentry tunnel URL to match Django route
  assets/js/sentry.js
Due: none

Feature: Add logged-in user email to Sentry frontend events
  assets/js/sentry.js
  tests/core/test_sentry_user_meta.py
  ultihub/core/templates/core/_base.html
Due: lint, style, type, translations-check

Feature: Add CSV export of rosters from international tournaments by season
  tests/international_tournaments/test_export_rosters.py
  ultihub/international_tournaments/templates/international_tournaments/international_tournaments.html
  ultihub/international_tournaments/templates/international_tournaments/partials/export_rosters_modal.html
  ultihub/international_tournaments/urls.py
  ultihub/international_tournaments/views.py
Due: lint, style, type, translations-check

Refactor: Move shared test fixtures (staff_user, superuser, regular_user) to conftest
  tests/conftest.py
  tests/international_tournaments/test_export_rosters.py
  tests/tournaments/test_export_rosters.py
Due: lint, style, type, translations-check

Path conditions:
  lint: any of: \.py$
  style: any of: \.py$
  type: any of: \.py$
  translations-check: any of: \.(po|py|html)$
