Repository dstlmrk/cauf-evidence: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint, style, type, translations-check

.pre-commit-config.yaml:

fail_fast: true
repos:
  - repo: local
    hooks:
      - id: lint
        name: lint
        entry: uv run poe lint
        language: system
        types: [file, python]
      - id: style
        name: style
        entry: uv run poe style
        pass_filenames: false
        language: system
        types: [file, python]
      - id: type
        name: type
        entry: uv run poe type
        pass_filenames: false
        language: system
        types: [file, python]
      - id: translations-check
        name: translations-check
        entry: uv run poe translations-check
        pass_filenames: false
        language: system
        files: \.(po|py|html)$

Fix: Handle IntegrityError on duplicate team registration and roster additions to avoid HTTP 500 on double submit
  tests/competitions/test_views.py
  tests/international_tournaments/test_roster_management.py
  tests/tournaments/test_views.py
  ultihub/competitions/templates/competitions/partials/registration_form.html
  ultihub/competitions/views.py
  ultihub/international_tournaments/templates/international_tournaments/partials/international_roster_add_form.html
  ultihub/international_tournaments/views.py
  ultihub/tournaments/templates/tournaments/partials/roster_dialog_add_form.html
  ultihub/tournaments/views.py
Due: lint, style, type, translations-check

Fix: Add DB unique constraint for pending transfer requests and handle duplicates without HTTP 500
  tests/members/test_transfers.py
  ultihub/members/helpers.py
  ultihub/members/migrations/0013_transfer_unique_requested_transfer_per_member.py
  ultihub/members/models.py
  ultihub/members/views.py
Due: lint, style, type, translations-check

Fix: Correct admin decline action message to say Applications declined
  ultihub/competitions/admin.py
Due: lint, style, type, translations-check

Fix: Guard switch_club against missing/invalid club_id and queue success message only after permission check
  tests/users/test_views.py
  ultihub/users/views.py
Due: lint, style, type, translations-check

Fix: Treat missing tournament_id as no tournament in member search instead of returning 404
  tests/members/test_search.py
  ultihub/members/views.py
Due: lint, style, type, translations-check

Fix: Use has_open_registration for Registrations button styling instead of undefined now variable
  ultihub/competitions/templates/competitions/components/competition-action-buttons.html
Due: translations-check

Fix: Commit season fee invoices per club and catch network errors to prevent duplicate Fakturoid invoices
  ultihub/finance/services.py
  ultihub/finance/tasks.py
Due: lint, style, type, translations-check

Fix: Accept birth numbers with +20/+70 month shift used since 2004 when daily sequence is exhausted
  tests/members/test_validators.py
  ultihub/members/validators.py
Due: lint, style, type, translations-check

Fix: Handle ValueError in transfer_form so a club change between opening and submit shows a message instead of 500
  ultihub/members/views.py
Due: lint, style, type, translations-check

Performance: Add select_related to transfers, applications and agents lists to remove N+1 queries
  ultihub/clubs/views.py
  ultihub/competitions/views.py
Due: lint, style, type, translations-check

Performance: Remove N+1 queries in NSA export and season fee calculation via tournament_id and select_related
  ultihub/finance/services.py
  ultihub/members/helpers.py
  ultihub/members/tasks.py
Due: lint, style, type, translations-check

Performance: Set CONN_MAX_AGE to reuse database connections across requests
  ultihub/ultihub/settings.py
Due: lint, style, type, translations-check

Performance: Remove dead COUNT query and unused accept/reject team competition functions with their tests
  tests/competitions/test_services.py
  ultihub/competitions/services.py
Due: lint, style, type, translations-check

Performance: Remove N+1 queries in roster dialogs and admin via select_related, list_select_related and lighter SeasonFilter
  ultihub/competitions/admin.py
  ultihub/tournaments/admin.py
  ultihub/tournaments/views.py
Due: lint, style, type, translations-check

Performance: Calculate season fees once and group totals per club instead of querying participations per club
  ultihub/finance/tasks.py
Due: lint, style, type, translations-check

Performance: Bulk create club notifications and select_related agent user to avoid N+1 in notify_club
  ultihub/clubs/service.py
Due: lint, style, type, translations-check

Refactor: Extract shared default season and filter context into core helper used by three list views
  ultihub/competitions/views.py
  ultihub/core/helpers.py
  ultihub/international_tournaments/views.py
  ultihub/tournaments/views.py
Due: lint, style, type, translations-check

Refactor: Replace manual API GET/PATCH views with DRF RetrieveUpdateAPIView keeping GET and PATCH only
  ultihub/api/views.py
Due: lint, style, type, translations-check

Refactor: Add hx_trigger_response helper, drop redundant refetch, use subquery for assigned members and dedupe roster dialog render
  ultihub/core/helpers.py
  ultihub/international_tournaments/views.py
  ultihub/members/services.py
  ultihub/members/views.py
  ultihub/tournaments/views.py
Due: lint, style, type, translations-check

Refactor: Extract transfer state badge into reusable component used by desktop and mobile transfer markup
  ultihub/clubs/templates/clubs/components/transfer-state-badge.html
  ultihub/clubs/templates/clubs/transfers.html
Due: translations-check

Performance: Add database index on Invoice.state used by periodic tasks and views
  ultihub/finance/migrations/0008_alter_invoice_state.py
  ultihub/finance/models.py
Due: lint, style, type, translations-check

DX: Add fast test loop with reusable test DB (test-db-up/down + poe t)
  README.md
  pyproject.toml
Due: none

DX: Measure test coverage with pytest-cov and report it in the CI test job
  pyproject.toml
  uv.lock
Due: none

DX: Add secrets/.env.example template and document env setup step so a fresh clone can run
  README.md
  secrets/.env.example
Due: none

Test: Add coverage for Google OAuth SocialAccountAdapter login gate
  tests/users/test_adapters.py
Due: lint, style, type, translations-check

UX: Add global HTMX double-submit protection and loading spinner on submit controls
  assets/css/styles.css
  assets/js/listeners.js
Due: none

Fix: Correct broken Y/d/m birth/licence dates and set Y/m/d default date format via format module
  ultihub/clubs/templates/clubs/partials/member_list.html
  ultihub/members/templates/members/partials/coach_licence_list.html
  ultihub/ultihub/formats/__init__.py
  ultihub/ultihub/formats/en_GB/__init__.py
  ultihub/ultihub/formats/en_GB/formats.py
  ultihub/ultihub/settings.py
Due: lint, style, type, translations-check

DX: Enable ruff security and cleanup rule sets (S, DTZ, C4, RUF) with scoped per-file ignores
  pyproject.toml
  ultihub/finance/tasks.py
  ultihub/international_tournaments/views.py
  ultihub/members/admin.py
  ultihub/members/models.py
  ultihub/members/services.py
  ultihub/tournaments/views.py
  ultihub/ultihub/urls.py
  ultihub/users/admin.py
  ultihub/users/services.py
Due: lint, style, type, translations-check
