Repository dstlmrk/cauf-evidence: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint, style, type, translations-check

lint:
  name: lint
  entry: uv run poe lint
  language: system

style:
  name: style
  entry: uv run poe style
  pass_filenames: false
  language: system

type:
  name: type
  entry: uv run poe type
  pass_filenames: false
  language: system

translations-check:
  name: translations-check
  entry: uv run poe translations-check
  pass_filenames: false
  language: system

Build: Adapt code to dependency bumps (ruff import sorting, django-countries 9 Country typing, pycountry, mypy stubs)
  tests/tournaments/test_views.py
  ultihub/competitions/views.py
  ultihub/core/tasks.py
  ultihub/core/templatetags/webpack_static.py
  ultihub/finance/clients/fakturoid.py
  ultihub/finance/views.py
  ultihub/international_tournaments/views.py
  ultihub/members/admin.py
  ultihub/members/helpers.py
  ultihub/members/management/commands/import_members.py
  ultihub/members/tasks.py
  ultihub/members/views.py
  ultihub/tournaments/views.py
  ultihub/ultihub/urls.py
Due: lint, style, type, translations-check

Fix: Migrate dbbackup storage to STORAGES setting after django-dbbackup deprecated DBBACKUP_STORAGE
  ultihub/ultihub/settings.py
Due: lint, style, type, translations-check

Feature: Add light/dark mode with NSA dark logo, refresh competitions cards/modals/filters, branded navbar and footer theme switcher
  assets/css/styles.css
  assets/js/main.js
  assets/js/theme.js
  static/nsa_logo_dark.svg
  ultihub/competitions/models.py
  ultihub/competitions/templates/competitions/competitions.html
  ultihub/competitions/templates/competitions/components/competition-action-buttons.html
  ultihub/competitions/templates/competitions/partials/application_list.html
  ultihub/competitions/templates/competitions/partials/competition_detail.html
  ultihub/competitions/templates/competitions/partials/competition_final_placements_dialog.html
  ultihub/competitions/views.py
  ultihub/core/templates/core/_base.html
  ultihub/core/templates/core/partials/competition_filters.html
  ultihub/core/templates/core/partials/footer_base_info.html
  ultihub/core/templates/core/partials/footer_nsa_info.html
  ultihub/core/templates/core/partials/theme_toggle.html
Due: lint, style, type, translations-check

Feature: Soften button colors across themes, fill card action buttons, rename registrations modal, restyle FAQ as card grid
  assets/css/styles.css
  ultihub/competitions/templates/competitions/components/competition-action-buttons.html
  ultihub/competitions/templates/competitions/partials/application_list.html
  ultihub/core/templates/core/faq.html
Due: translations-check

Feature: Redesign tournaments list as cards with corner pill badges, shared empty-state partial, refine competition cards
  assets/css/styles.css
  ultihub/competitions/templates/competitions/competitions.html
  ultihub/core/templates/core/partials/division_age_badges.html
  ultihub/core/templates/core/partials/empty_state.html
  ultihub/tournaments/templates/tournaments/tournament_detail.html
  ultihub/tournaments/templates/tournaments/tournaments.html
Due: translations-check

Feature: Redesign invoices page with invoice-type filter, roomy table, soft state badges and mobile key-value cards
  assets/css/styles.css
  ultihub/clubs/templates/clubs/components/invoice-state-badge.html
  ultihub/clubs/templates/clubs/invoices.html
  ultihub/clubs/views.py
Due: lint, style, type, translations-check

Feature: Redesign transfers, teams, settings, season fees and profile pages with roomy tables, refreshed modals, soft badges and centered dialogs
  assets/css/styles.css
  ultihub/clubs/templates/clubs/components/team-action-buttons.html
  ultihub/clubs/templates/clubs/components/transfer-state-badge.html
  ultihub/clubs/templates/clubs/partials/add_agent_form.html
  ultihub/clubs/templates/clubs/partials/agent_list.html
  ultihub/clubs/templates/clubs/partials/notifications_dialog.html
  ultihub/clubs/templates/clubs/partials/team_form.html
  ultihub/clubs/templates/clubs/partials/team_list.html
  ultihub/clubs/templates/clubs/season_fees.html
  ultihub/clubs/templates/clubs/settings.html
  ultihub/clubs/templates/clubs/teams.html
  ultihub/clubs/templates/clubs/transfers.html
  ultihub/core/templates/core/_base.html
  ultihub/core/templates/core/base.html
  ultihub/finance/templates/finance/partials/season_fees_list.html
  ultihub/finance/templates/finance/partials/season_fees_member_detail_modal.html
  ultihub/members/templates/members/components/transfer-action-buttons.html
  ultihub/users/templates/users/profile.html
Due: translations-check

Feature: Redesign members table without DataTables, add per-agent favourites, age and licence filters, and lighter member modals
  assets/css/styles.css
  assets/js/dtables.js
  assets/js/flags.js
  assets/js/listeners.js
  assets/js/main.js
  assets/js/members-table.js
  package-lock.json
  package.json
  tests/members/test_toggle_favourite.py
  ultihub/clubs/templates/clubs/members.html
  ultihub/clubs/templates/clubs/partials/member_active_status.html
  ultihub/clubs/templates/clubs/partials/member_avatar.html
  ultihub/clubs/templates/clubs/partials/member_email_status.html
  ultihub/clubs/templates/clubs/partials/member_list.html
  ultihub/clubs/templates/clubs/partials/member_star.html
  ultihub/clubs/views.py
  ultihub/international_tournaments/templates/international_tournaments/international_tournaments.html
  ultihub/international_tournaments/templates/international_tournaments/partials/international_roster_dialog.html
  ultihub/members/migrations/0014_favouritemember.py
  ultihub/members/models.py
  ultihub/members/templates/members/components/members-action-buttons.html
  ultihub/members/templates/members/partials/coach_licence_list.html
  ultihub/members/templates/members/partials/member_form.html
  ultihub/members/templates/members/partials/nsa_export_modal.html
  ultihub/members/urls.py
  ultihub/members/views.py
  webpack.config.js
Due: lint, style, type, translations-check

Chore: Expand dev seed dataset and move local Postgres host port to 5433
  docker/compose.dev.yaml
  ultihub/core/fixtures/initial_data.json
Due: none

Feature: Merge NSA export email note into the season field help text
  ultihub/members/templates/members/partials/nsa_export_modal.html
Due: translations-check

Feature: Redesign international tournaments as cards with refreshed filters and roster dialog, seed sample tournaments and rosters
  ultihub/core/fixtures/initial_data.json
  ultihub/international_tournaments/templates/international_tournaments/international_tournaments.html
  ultihub/international_tournaments/templates/international_tournaments/partials/filters.html
  ultihub/international_tournaments/templates/international_tournaments/partials/international_roster_dialog.html
Due: translations-check

Feature: Redesign tournament detail and roster dialogs, add brand link colour and soft competition badges, seed sample tournament results
  assets/css/styles.css
  ultihub/competitions/templates/competitions/components/competition-state-badge.html
  ultihub/competitions/templates/competitions/partials/competition_detail.html
  ultihub/core/fixtures/initial_data.json
  ultihub/international_tournaments/templates/international_tournaments/international_tournaments.html
  ultihub/international_tournaments/templates/international_tournaments/partials/export_rosters_modal.html
  ultihub/international_tournaments/templates/international_tournaments/partials/international_roster_add_form.html
  ultihub/international_tournaments/templates/international_tournaments/partials/international_roster_update_form.html
  ultihub/tournaments/templates/tournaments/components/roster-button.html
  ultihub/tournaments/templates/tournaments/partials/roster_dialog.html
  ultihub/tournaments/templates/tournaments/partials/roster_dialog_add_form.html
  ultihub/tournaments/templates/tournaments/partials/roster_dialog_update_form.html
  ultihub/tournaments/templates/tournaments/partials/tournament_detail_teams_table.html
  ultihub/tournaments/templates/tournaments/tournament_detail.html
  ultihub/tournaments/views.py
Due: lint, style, type, translations-check

Fix: Keep members without a jersey number at the bottom for both sort directions
  assets/js/members-table.js
Due: none

Feature: Slim down competition card actions with single-row registration button and detail/standings links
  ultihub/competitions/templates/competitions/components/competition-action-buttons.html
Due: translations-check

Build(deps): Bump django to 6.0.7 to fix known security vulnerabilities
  pyproject.toml
  uv.lock
Due: none

Fix: Guard localStorage access in theme switcher against SecurityError when browser blocks storage
  assets/js/theme.js
  ultihub/core/templates/core/_base.html
Due: translations-check

Feature: Default season filters to the newest season that actually has content instead of an empty upcoming one
  tests/core/test_helpers.py
  ultihub/competitions/views.py
  ultihub/core/helpers.py
  ultihub/international_tournaments/views.py
  ultihub/tournaments/views.py
Due: lint, style, type, translations-check

Build(deps): Update all Python and npm dependencies to their latest versions
  package-lock.json
  package.json
  pyproject.toml
  uv.lock
Due: none

Feature: Apply the non-empty season default to the member list, NSA export and season fees check
  tests/clubs/test_views.py
  tests/finance/test_forms.py
  tests/members/test_nsa_export.py
  ultihub/clubs/views.py
  ultihub/finance/forms.py
  ultihub/members/views.py
Due: lint, style, type, translations-check

Refactor: Require season_id in the NSA export endpoint instead of silently guessing a default season
  tests/members/test_nsa_export.py
  ultihub/members/views.py
Due: lint, style, type, translations-check

Feature: Add club logos with admin approval, feature-flagged upload and display in the navbar, tournament cards and club tables
  assets/css/styles.css
  pyproject.toml
  tests/clubs/test_logos.py
  ultihub/clubs/admin.py
  ultihub/clubs/apps.py
  ultihub/clubs/forms.py
  ultihub/clubs/migrations/0016_club_logo_updated_at_clublogo.py
  ultihub/clubs/models.py
  ultihub/clubs/services.py
  ultihub/clubs/signals.py
  ultihub/clubs/templates/clubs/components/club-logo.html
  ultihub/clubs/templates/clubs/partials/club_logo_form.html
  ultihub/clubs/templates/clubs/settings.html
  ultihub/clubs/urls.py
  ultihub/clubs/views.py
  ultihub/competitions/templates/competitions/partials/application_list.html
  ultihub/competitions/templates/competitions/partials/competition_final_placements_dialog.html
  ultihub/core/migrations/0004_appsettings_club_logo_upload_enabled.py
  ultihub/core/models.py
  ultihub/core/templates/core/base.html
  ultihub/tournaments/templates/tournaments/partials/tournament_detail_teams_table.html
  ultihub/tournaments/templates/tournaments/tournaments.html
  ultihub/tournaments/views.py
  ultihub/users/context_processors.py
  uv.lock
Due: lint, style, type, translations-check

Path conditions:
  lint: any of: \.py$
  style: any of: \.py$
  type: any of: \.py$
  translations-check: any of: \.(po|py|html)$
