Repository dstlmrk/cauf-evidence: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint, style, type, translations-check

lint:
  name: lint
  entry: uv run poe lint
  language: system

style:
  name: style
  entry: uv run poe style
  pass_filenames: false
  language: system

type:
  name: type
  entry: uv run poe type
  pass_filenames: false
  language: system

translations-check:
  name: translations-check
  entry: uv run poe translations-check
  pass_filenames: false
  language: system

UX: Add per-page browser titles and branded 404/500 error pages
  ultihub/clubs/templates/clubs/invoices.html
  ultihub/clubs/templates/clubs/members.html
  ultihub/clubs/templates/clubs/season_fees.html
  ultihub/clubs/templates/clubs/settings.html
  ultihub/clubs/templates/clubs/teams.html
  ultihub/clubs/templates/clubs/transfers.html
  ultihub/competitions/templates/competitions/competitions.html
  ultihub/core/templates/404.html
  ultihub/core/templates/500.html
  ultihub/core/templates/core/_base.html
  ultihub/core/templates/core/faq.html
  ultihub/core/templates/core/homepage.html
  ultihub/international_tournaments/templates/international_tournaments/international_tournaments.html
  ultihub/tournaments/templates/tournaments/tournament_detail.html
  ultihub/tournaments/templates/tournaments/tournaments.html
  ultihub/users/templates/users/profile.html
Due: translations-check

UI: Improve accessibility with alt texts, aria-labels, tooltips and a bound search label
  ultihub/clubs/templates/clubs/partials/member_list.html
  ultihub/core/templates/core/_base.html
  ultihub/core/templates/core/base.html
  ultihub/core/templates/core/partials/footer_nsa_info.html
  ultihub/members/templates/members/partials/member_search.html
Due: translations-check

UX: Keep error toasts until dismissed and show warnings longer instead of fixed 3s
  assets/js/toasts.js
Due: none

DX: Build webpack in development mode with source maps when running watch
  package.json
  webpack.config.js
Due: none

DX: Add Dependabot config and pip-audit CI job, and update dependencies to clear known vulnerabilities
  .github/dependabot.yml
  .github/workflows/main.yaml
  pyproject.toml
  uv.lock
Due: none

DX: Rename clubs service module, move core tests to top level, align Node version and fix README
  README.md
  docker/Dockerfile
  tests/clubs/test_services.py
  tests/core/test_views.py
  tests/finance/test_tasks.py
  ultihub/clubs/services.py
  ultihub/core/tests/__init__.py
  ultihub/finance/tasks.py
  ultihub/members/helpers.py
  ultihub/tournaments/views.py
Due: lint, style, type, translations-check

UI: Add DataTables empty state, tournament breadcrumb, thousands separators and remove dead homepage template
  assets/css/styles.css
  assets/js/dtables.js
  ultihub/clubs/templates/clubs/invoices.html
  ultihub/competitions/templates/competitions/partials/competition_detail.html
  ultihub/core/templates/core/homepage.html
  ultihub/finance/templates/finance/partials/season_fees_list.html
  ultihub/tournaments/templates/tournaments/tournament_detail.html
Due: translations-check

DX: Add prettier to pre-commit and move mypy to the pre-push stage
  .pre-commit-config.yaml
  README.md
Due: none

UX: Add shared email layout with simple branding and a confirmation button instead of a raw URL
  ultihub/core/templates/emails/_base_email.html
  ultihub/core/templates/emails/confirm_email.html
  ultihub/core/templates/emails/member_notification.html
  ultihub/core/templates/emails/season_fees_preview.html
Due: translations-check

DX: Remove dead commented-out changed-files step from the deployment workflow
  .github/workflows/main.yaml
Due: none

UI: Replace native confirm() with a Bootstrap modal for hx-confirm destructive actions
  assets/js/confirm.js
  assets/js/main.js
  ultihub/core/templates/core/_base.html
Due: translations-check

UI: Use English for added page titles, error pages, tooltips, confirm modal and empty states to match the English UI
  assets/js/dtables.js
  ultihub/clubs/templates/clubs/invoices.html
  ultihub/clubs/templates/clubs/members.html
  ultihub/clubs/templates/clubs/partials/member_list.html
  ultihub/clubs/templates/clubs/season_fees.html
  ultihub/clubs/templates/clubs/settings.html
  ultihub/clubs/templates/clubs/teams.html
  ultihub/clubs/templates/clubs/transfers.html
  ultihub/competitions/templates/competitions/competitions.html
  ultihub/core/templates/404.html
  ultihub/core/templates/500.html
  ultihub/core/templates/core/_base.html
  ultihub/core/templates/core/base.html
  ultihub/core/templates/core/faq.html
  ultihub/core/templates/core/partials/footer_nsa_info.html
  ultihub/international_tournaments/templates/international_tournaments/international_tournaments.html
  ultihub/tournaments/templates/tournaments/tournament_detail.html
  ultihub/tournaments/templates/tournaments/tournaments.html
  ultihub/users/templates/users/profile.html
Due: translations-check

DX: Measure test coverage with pytest-cov and report it in the CI test job
  pyproject.toml
  uv.lock
Due: none

UX: Add global HTMX double-submit protection and loading spinner on submit controls
  assets/css/styles.css
  assets/js/listeners.js
Due: none

DX: Add secrets/.env.example template and document env setup step so a fresh clone can run
  README.md
  secrets/.env.example
Due: none

Test: Add coverage for Google OAuth SocialAccountAdapter login gate
  tests/users/test_adapters.py
Due: lint, style, type, translations-check

DX: Add fast test loop with reusable test DB (test-db-up/down + poe t)
  README.md
  pyproject.toml
Due: none

Fix: Correct broken Y/d/m birth/licence dates and set Y/m/d default date format via format module
  ultihub/clubs/templates/clubs/partials/member_list.html
  ultihub/members/templates/members/partials/coach_licence_list.html
  ultihub/ultihub/formats/__init__.py
  ultihub/ultihub/formats/en_GB/__init__.py
  ultihub/ultihub/formats/en_GB/formats.py
  ultihub/ultihub/settings.py
Due: lint, style, type, translations-check

DX: Enable ruff security and cleanup rule sets (S, DTZ, C4, RUF) with scoped per-file ignores
  pyproject.toml
  ultihub/finance/tasks.py
  ultihub/international_tournaments/views.py
  ultihub/members/admin.py
  ultihub/members/models.py
  ultihub/members/services.py
  ultihub/tournaments/views.py
  ultihub/ultihub/urls.py
  ultihub/users/admin.py
  ultihub/users/services.py
Due: lint, style, type, translations-check

Style: Reformat README with updated prettier markdown list formatting
  README.md
Due: none

Build: Adapt code to dependency bumps (ruff import sorting, django-countries 9 Country typing, pycountry, mypy stubs)
  tests/tournaments/test_views.py
  ultihub/competitions/views.py
  ultihub/core/tasks.py
  ultihub/core/templatetags/webpack_static.py
  ultihub/finance/clients/fakturoid.py
  ultihub/finance/views.py
  ultihub/international_tournaments/views.py
  ultihub/members/admin.py
  ultihub/members/helpers.py
  ultihub/members/management/commands/import_members.py
  ultihub/members/tasks.py
  ultihub/members/views.py
  ultihub/tournaments/views.py
  ultihub/ultihub/urls.py
Due: lint, style, type, translations-check

Fix: Provide htmx default export via ProvidePlugin so htmx.on is defined in modal dialog init
  webpack.config.js
Due: none

Fix: Ignore injected-script Open Graph meta querySelector errors in Sentry
  assets/js/sentry.js
Due: none

Fix: Provide jQuery default export via ProvidePlugin so $ is callable, not the ESM module namespace object
  webpack.config.js
Due: none

Path conditions:
  lint: any of: \.py$
  style: any of: \.py$
  type: any of: \.py$
  translations-check: any of: \.(po|py|html)$
