Repository dstlmrk/cauf-evidence: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint, style, type, translations-check

lint:
  name: lint
  entry: uv run poe lint
  language: system

style:
  name: style
  entry: uv run poe style
  pass_filenames: false
  language: system

type:
  name: type
  entry: uv run poe type
  pass_filenames: false
  language: system

translations-check:
  name: translations-check
  entry: uv run poe translations-check
  pass_filenames: false
  language: system

Fix: Show the season in the competition application admin list via a display method instead of an unsupported related field path
  tests/competitions/test_admin.py
  ultihub/competitions/admin.py
Due: lint, style, type, translations-check

Fix: Widen the standings dialog and keep rows with a club logo the same height as rows without one
  assets/css/styles.css
  ultihub/competitions/templates/competitions/components/competition-action-buttons.html
  ultihub/competitions/templates/competitions/partials/application_list.html
  ultihub/competitions/templates/competitions/partials/competition_final_placements_dialog.html
  ultihub/tournaments/templates/tournaments/partials/tournament_detail_teams_table.html
  ultihub/tournaments/templates/tournaments/tournaments.html
Due: translations-check

Feature: Paginate the competition and tournament lists and stop preselecting a default season in their filters
  tests/competitions/test_views.py
  tests/tournaments/test_views.py
  ultihub/competitions/templates/competitions/competitions.html
  ultihub/competitions/views.py
  ultihub/core/helpers.py
  ultihub/core/templates/core/partials/pagination.html
  ultihub/international_tournaments/templates/international_tournaments/international_tournaments.html
  ultihub/international_tournaments/views.py
  ultihub/tournaments/templates/tournaments/tournaments.html
  ultihub/tournaments/views.py
Due: lint, style, type, translations-check

Fix: Filter Instagram in-app browser bridge noise from Sentry (ULTIHUB-3W)
  assets/js/sentry.js
Due: none

Chore: Prune unused Docker images on the server after each deployment
  .github/workflows/main.yaml
Due: none

Feature: Deploy without taking the whole stack down
  .github/workflows/main.yaml
  docker/compose.dev.yaml
  docker/compose.prod.yaml
  docker/entrypoint.sh
  nginx-proxy/vhostd.conf
  tests/core/test_views.py
  ultihub/core/urls.py
  ultihub/core/views.py
  ultihub/ultihub/settings.py
Due: lint, style, type, translations-check

Fix: Select a member on mousedown so a slow click cannot drop the pick
  assets/js/listeners.js
  assets/js/search.js
  ultihub/international_tournaments/templates/international_tournaments/partials/international_roster_add_form.html
  ultihub/members/templates/members/partials/member_search.html
  ultihub/tournaments/templates/tournaments/partials/roster_dialog_add_form.html
Due: translations-check

Fix: Copy vhostd.conf to the server during deployment
  .github/workflows/main.yaml
Due: none

Feature: Remind clubs 12 hours before the roster deadline
  tests/tournaments/test_tasks.py
  ultihub/clubs/services.py
  ultihub/core/templates/emails/roster_reminder.html
  ultihub/tournaments/apps.py
  ultihub/tournaments/migrations/0007_tournament_rosters_reminder_sent_at.py
  ultihub/tournaments/models.py
  ultihub/tournaments/tasks.py
  ultihub/ultihub/settings.py
Due: lint, style, type, translations-check

Feature: Show the number of played days in the season fees overview
  tests/finance/test_season_fees_views.py
  tests/members/test_nsa_export.py
  ultihub/finance/templates/finance/partials/season_fees_list.html
  ultihub/finance/templates/finance/partials/season_fees_member_detail_modal.html
  ultihub/finance/views.py
  ultihub/members/helpers.py
Due: lint, style, type, translations-check

Feature: List free tournaments in the season fees overview so the counts explain the days
  tests/finance/test_season_fees_views.py
  tests/finance/test_services.py
  ultihub/finance/services.py
  ultihub/finance/templates/finance/partials/season_fees_list.html
Due: lint, style, type, translations-check

Feature: Show members who played but owe nothing in the season fees overview
  tests/finance/test_season_fees_views.py
  tests/finance/test_services.py
  ultihub/clubs/templates/clubs/season_fees.html
  ultihub/finance/services.py
  ultihub/finance/tasks.py
  ultihub/members/tasks.py
Due: lint, style, type, translations-check

Fix: Drop Sentry errors with no stack frame from our bundle to ignore scripts injected by in-app browsers
  assets/js/sentry.js
Due: none

Build(deps): Bump django-allauth, oauthlib, pyjwt, urllib3 and virtualenv to fix known security vulnerabilities
  pyproject.toml
  uv.lock
Due: none

Fix: Send the transfer action from the clicked button so approve, reject and revoke work after the confirm modal
  ultihub/members/templates/members/components/transfer-action-buttons.html
Due: translations-check

Fix: Show an error toast for failed HTMX requests without a message and report silent 4xx responses to Sentry
  assets/js/toasts.js
  tests/core/test_htmx_message_middleware.py
  ultihub/core/middleware.py
Due: lint, style, type, translations-check

Path conditions:
  lint: any of: \.py$
  style: any of: \.py$
  type: any of: \.py$
  translations-check: any of: \.(po|py|html)$
